/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

/**
   * Firefox specific rule
   */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

@font-face {
  font-family: "RalewayBold";
  src: url("./font/Raleway/static/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("./font/Raleway/static/Raleway-SemiBold.ttf");
}

/***********************************************************
Règles globales de polices 
************************************************************/

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h2,
h3,
h4 {
  font-family: "RalewayBold";
  font-weight: 400;
}

h2,
h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

a:link {
  text-decoration: none;
}

/***********************************************************
Style header
************************************************************/

#head {
  width: 94%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -8px;
}

#logo {
  width: 60%;
}

#nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons {
  list-style: none;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  width: 45%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#buttons a:hover,
#register:hover {
  background-color: #f2f2f2;
  border-top: 2px solid #0065fc;
}

#register {
  width: 10%;
  height: 98%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#register a {
  height: 100%;
  width: 100%;
}

#register p {
  padding-top: 19px;
  color: #0065fc;
}

/***********************************************************
Style barre de recherche
************************************************************/

#searchblock {
  margin-top: 15px;
  width: 94%;
  display: flex;
  flex-direction: column;
}

#subphrase {
  margin-top: -10px;
  margin-bottom: 20px;
}

#searchsubblock {
  margin-top: 0px;
  display: flex;
  align-items: center;
  height: 50px;
}

#mapicon {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  font-size: large;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 375px;
}

#searchbar {
  margin-top: 0px;
  height: 48px;
  width: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

#lieu {
  width: 100%;
  height: 46px;
  border-style: none;
  font-family: "RalewayBold";
  font-size: 1.2em;
  text-indent: 20px;
}

::placeholder {
  font-weight: 400;
  transition: 200ms;
  font-style: italic;
}

#lieu:focus {
  outline: 1px solid #0065fc;
}

#lieu:focus::placeholder {
  opacity: 0;
}

#search {
  width: 140px;
  height: 100%;
}

/*@media(max-width: ???px){
  #search{
    width: 50px;
  }
}*/

#submit {
  width: 100%;
  height: 100%;
  border-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  color: white;
  font-family: "RalewaySemiBold";
  font-size: 1.2em;
  font-weight: 500;
}

#submit2 {
  display: none;
}

/***********************************************************
Style barre de filtres
************************************************************/

#filters {
  margin-top: 10px;
  width: 94%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#filtertitle {
  width: 95px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

#filters h3 {
  font-size: 1.2em;
}

#filterblocks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 30px;
  margin-right: 25px;
  border-left-style: none;
  height: 46px;
}

.icon:hover {
  transition: 400ms;
  background-color: #f2f2f2;
  color: #0065fc;
  cursor: pointer;
}

.icon i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
}

.icon h3 {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-left: 5px;
}

#info {
  width: 100%;
  display: flex;
  align-items: center;
}

#infoicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  font-size: small;
  color: #0065fc;
  border-radius: 100%;
  border: 1px solid lightgrey;
}

#info p {
  margin-left: 10px;
}

/***********************************************************
Réglage de la couleur des étoiles de notation
************************************************************/

i.fas.fa-star[lang="fr"] {
  color: #0065fc;
}

i.fas.fa-star[lang="fr-BE"] {
  color: #f2f2f2;
}

/***********************************************************
Style partie hébergements
************************************************************/

#hebergement {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#normal {
  background-color: #f2f2f2;
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border-radius: 15px;
}

#normal-title {
  width: 90%;
  margin-left: 50px;
  margin-top: 30px;
}

#normal-photos {
  align-self: center;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  width: 30%;
  min-width: 150px;
  height: 150px;
  border: 1px solid black;
}

.box a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  border: 1px solid red;
}

.box a img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#trending {
  background-color: #f2f2f2;
  width: 30%;
}