@media (max-width: 768px) {
  body {
    background-color: burlywood;
  }

  /*********************************************************
****************** SEARCH **********************************
***********************************************************/

  #searchblock {
    margin-top: 30px;
  }

  #submit {
    display: none;
  }

  form {
    width: 280px;
    height: 48px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #f2f2f2;
    background-color: white;
  }

  #lieu:focus {
    outline: none;
  }

  #search {
    width: 50px;
  }

  #submit2 {
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    font-family: "RalewaySemiBold";
    font-size: 1.2em;
    font-weight: 500;
  }

  /**********************************************************
  ********************* HEBERGEMENT *************************
  **********************************************************/

  .trendingbox {
    width: 100%;
  }

  .box {
    width: 100%;
  }
  /*********************************************************
****************** ACTIVITES *******************************
***********************************************************/
  #activites {
    width: 90%;
    margin-top: 0px;
  }

  #bloc-photos {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .activity {
    width: 100%;
    height: auto;
  }

  .activity div, #vieux-port, #calanques{
    height: 150px;
    margin-bottom: 25px;
  }

  .activity img {
    height: 90px;
  }

  /*********************************************************
****************** FOOTER **********************************
***********************************************************/

  #foot {
    width: 106%;
    margin-left: -3%;
    flex-direction: column;
    font-size: larger;
  }

  .foot-section {
    margin-left: 15%;
  }
}
