@font-face {
  font-family: "RalewayBold";
  src: url("./font/Raleway/static/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("./font/Raleway/static/Raleway-SemiBold.ttf");
}

/***********************************************************
Règles globales de polices 
************************************************************/

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h2,
h3,
h4 {
  font-family: "RalewayBold";
  font-weight: 400;
}

h2,
h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

a:link {
  text-decoration: none;
}

/***********************************************************
Style header
************************************************************/

#head {
  width: 94%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: -8px;
}

#logo {
  width: 60%;
}

#nav {
  width: 30%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons {
  list-style: none;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  width: 45%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#buttons a:hover,
#register:hover {
  background-color: #f2f2f2;
  border-top: 2px solid #0065fc;
}

#register {
  width: 10%;
  height: 98%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#register a {
  height: 100%;
  width: 100%;
}

#register p {
  padding-top: 19px;
  color: #0065fc;
}

/***********************************************************
Style barre de recherche
************************************************************/

#searchblock {
  margin-top: 15px;
  width: 94%;
  display: flex;
  flex-direction: column;
}

#subphrase {
  margin-top: -10px;
  margin-bottom: 20px;
}

#searchsubblock {
  margin-top: 0px;
  display: flex;
  align-items: center;
  height: 50px;
}

#mapicon {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  font-size: large;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 375px;
}

#searchbar {
  margin-top: 0px;
  height: 48px;
  width: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

#lieu {
  width: 100%;
  height: 46px;
  border-style: none;
  font-family: "RalewayBold";
  font-size: 1.2em;
  text-indent: 20px;
}

::placeholder {
  font-weight: 400;
  transition: 200ms;
  font-style: italic;
}

#lieu:focus {
  outline: 1px solid #0065fc;
}

#lieu:focus::placeholder {
  opacity: 0;
}

#search {
  width: 140px;
  height: 100%;
}

#submit {
  width: 100%;
  height: 100%;
  border-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  color: white;
  font-family: "RalewaySemiBold";
  font-size: 1.2em;
  font-weight: 500;
}

@media (min-width: 769px) {
  #submit2 {
    display: none;
  }
}

/***********************************************************
Style barre de filtres
************************************************************/

#filters {
  margin-top: 10px;
  width: 94%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#filtertitle {
  width: 95px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

#filters h3 {
  font-size: 1.2em;
}

#filterblocks {
  width: 830px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 30px;
  margin-right: 10px;
  border-left-style: none;
  height: 46px;
}

.icon:hover {
  transition: 400ms;
  background-color: #f2f2f2;
  color: #0065fc;
  cursor: pointer;
}

.icon i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
}

.icon h3 {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-left: 5px;
}

#info {
  width: 100%;
  display: flex;
  align-items: center;
}

#infoicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  font-size: small;
  color: #0065fc;
  border-radius: 100%;
  border: 1px solid lightgrey;
}

#info p {
  margin-left: 10px;
}

/***********************************************************
Réglage de la couleur des étoiles de notation
************************************************************/

i.fas.fa-star[lang="fr"] {
  color: #0065fc;
}

i.fas.fa-star[lang="fr-BE"] {
  color: #f2f2f2;
}

/***********************************************************
Style partie hébergements
************************************************************/

#hebergement {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/************** Normaux ************************************/

#normal {
  background-color: #f2f2f2;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border-radius: 15px;
}

#normal-title {
  width: 90%;
  margin-top: 30px;
}

#normal-photos {
  align-self: center;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  width: 30%;
  min-width: 195px;
  height: 175px;
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

@media (max-width: 1170px) {
  .box {
    width: 45%;
  }
}

.box:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.box a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box a:hover {
  cursor: zoom-in;
}

.box a:visited {
  color: black;
}

.box a img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.boxtext {
  height: 75px;
  width: 95%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.boxtext h4 {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.boxtext p {
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.boxtext span {
  height: 20px;
  margin-top: 10px;
}

#normal-see-more {
  padding: 4px;
  border-radius: 5px;
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 5%;
}

#normal-see-more:hover {
  transform: scale(1.1);
  transition: 200ms;
}

#normal-see-more a:visited {
  color: black;
}

/****************** Tendances ****************************/

#trending {
  background-color: #f2f2f2;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}

#trending-title {
  width: 80%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trending-title i {
  font-size: 1.5em;
}

#trending-photos {
  width: 80%;
  min-width: 200px;
  height: 77%;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.trendingbox {
  width: 100%;
  height: 27%;
  min-width: 250px;
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

.trendingbox:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.trendingbox a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.trendingbox a:hover {
  cursor: zoom-in;
}

.trendingbox a:visited {
  color: black;
}

.trendingbox a img {
  width: 35%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.trendingtextbox {
  width: 57%;
  height: 90%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trendingname h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.trendingname p {
  margin-top: 0px;
}

.trendingtextbox span {
  margin-bottom: 0px;
}

/***********************************************************
Style partie activités
************************************************************/

#activites {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
}

#bloc-photos {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.activity {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

.activity a:hover {
  cursor: zoom-in;
  transform: scale(1.1);
  transition: 200ms;
}

.activity a:visited {
  color: black;
}

.activity img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.activity h4 {
  margin-left: 15px;
}

#vieux-port img,
#calanques img {
  height: 390px;
}

#pomègues {
  height: 52.5%;
  width: 100%;
}

#pomègues img {
  height: 176px;
}

#frioul {
  height: 37%;
  width: 100%;
}

#frioul img {
  height: 106px;
}

#notre-dame {
  height: 43%;
  width: 100%;
}

#notre-dame img {
  height: 133px;
}

#longchamp {
  height: 47%;
  width: 100%;
}

#longchamp img {
  height: 151px;
}

/***********************************************************
Style partie footer
************************************************************/

#foot {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
  margin-bottom: 0px;
}

.foot-section {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}
